In [9]:
import mesa 
import networkx as nx
import pandas as pd
from mesa.space import ContinuousSpace
from mesa.time import BaseScheduler
from mesa import Agent, Model

import matplotlib.pyplot as plt
%matplotlib inline

import os
path = os.getcwd()

In [11]:
df = pd.read_csv(path+'/data/simpleTransport.csv')
G= nx.Graph()

   road model_type  km  lat  lon  length      name
0    N1     source   1    0    0       4    source
1    N1       link   2    1    1       2    link 1
2    N1     bridge   3    2    2       5  bridge 1
3    N1       link   1    3    3       1    link 2
4    N1     bridge   4    4    4       8  bridge 2
5    N1       link   4    5    5       4    link 3
6    N1     bridge   8    6    6       4  bridge 3
7    N1       link   2    7    7       2    link 5
8    N1     bridge  10    8    8       2  bridge 4
9    N1       link  10    9    9      10    link 5
10   N1       sink  20   10   10       3      sink